<a href="https://colab.research.google.com/github/ericgbraz/COLAB_PED/blob/main/PED_Aula_04_Exerc%C3%ADcios_Trabalhando_com_o_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd

jogadores = pd.read_csv('jogadores.csv', encoding = 'utf-8', delimiter = ';')
jogadores.dropna(subset=['salario'], inplace = True) 
jogadores['salario_anual'] = jogadores.salario * 12
jogadores['jogador'] = jogadores.jogador.str.upper()
#print(jogadores.describe())
#print(jogadores)
jogadores
jogadores_filtro_200000 = jogadores[(jogadores.salario > 200000.0)][['jogador','time']]
#jogadores_filtro_200000 
jogadores_filtro_u = jogadores[(jogadores.jogador.str.lower().str.contains('u'))][['jogador','time']]
jogadores_filtro_u
jogadores.sort_values(by = 'salario', ascending = False)[['jogador','salario','time']]
jogadores.sort_values(by = ['time','salario'], ascending = [True, False])[['jogador','salario','time']]
jogadores['time'].value_counts()
jogadores.groupby(['time']).mean()

<ipython-input-46-5c6f6dbf3276>:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  jogadores.groupby(['time']).mean()

           salario  salario_anual
time
Atlético  500000.0      6000000.0
Cruzeiro  125000.0      1500000.0