<a href="https://colab.research.google.com/github/ericgbraz/COLAB_PED/blob/main/PED_Aula_03_Exerc%C3%ADcios_Estruturas_de_Dados_Lista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#1
import random
lista = random.sample(range(1, 20), 10)
print(lista)
print(max(lista))
lista.sort()
print(lista)
print(lista[::-1])

a = int(input('Digite um valor '))
if a not in lista:
  print('O Valor informado não está na lista')  
else:
  print(f'A quantidade de "{a}" na lista {lista} é',str(lista.count(a)))

[18, 9, 11, 2, 16, 13, 7, 5, 17, 15]
18
[2, 5, 7, 9, 11, 13, 15, 16, 17, 18]
[18, 17, 16, 15, 13, 11, 9, 7, 5, 2]
Digite um valor 18
A quantidade de "18" na lista [2, 5, 7, 9, 11, 13, 15, 16, 17, 18] é 1
1

In [38]:
#2
import random
lista1 = random.sample(range(1, 100), 10)
lista2 = random.sample(range(1, 100), 10)
lista1.sort()
lista2.sort()
print(lista1)
print(lista2)
lista_soma = []
lista_mult = []
for i in range(0,len(lista1)):
  lista_soma.insert(i,lista1[i]+lista2[i])
  lista_mult.insert(i,lista1[i]*lista2[i])
print(lista_soma)  
print(lista_mult)

[27, 28, 31, 36, 40, 44, 51, 66, 72, 86]
[2, 8, 11, 22, 25, 30, 38, 44, 81, 88]
[29, 36, 42, 58, 65, 74, 89, 110, 153, 174]
[54, 224, 341, 792, 1000, 1320, 1938, 2904, 5832, 7568]

In [42]:
#3
lista = [10, 20, 30, 30, 30, 40, 10, 20]
while 30 in lista:
  lista.remove(30)
print(lista)

[10, 20, 40, 10, 20]

In [52]:
#4
import random
lista = random.sample(range(1, 100), 10)
lista.sort()
print(lista)
lista_par = []
lista_impar = []
for i in range(0,len(lista)):
  if lista[i]%2 == 0:
    lista_par.insert(i,lista[i])
  else:
    lista_impar.insert(i,lista[i])  
print(lista_par)    
print(lista_impar)

[6, 7, 8, 12, 15, 18, 44, 45, 66, 80]
[6, 8, 12, 18, 44, 66, 80]
[7, 15, 45]

In [50]:
#5
data = str(input("Digite uma data, ex:(22/02/2022): ")) 
meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'] 
dia,mes,ano = data.split("/") 
print(dia, "de", meses[int(mes) - 1], "de", ano)

Digite uma data, ex:(22/02/2022): 26/09/1993
26 de setembro de 1993

In [63]:
#6
import random
lista = random.sample(range(1, 60), 6)
num_extenso = ['primeiro', 'segundo', 'terceiro', 'quarto', 'quinto', 'sexto']
numeros_mega = []
for i in range(0,6):
  numeros_mega.insert(i, input("Digite o "+str(num_extenso[i])+" número sorteados 4"))
print(numeros_mega)

for lista in numeros_mega:

Digite o primeiro número sorteados 1
Digite o segundo número sorteados 2
Digite o terceiro número sorteados 3
Digite o quarto número sorteados 4
Digite o quinto número sorteados 5
Digite o sexto número sorteados 6
['1', '2', '3', '4', '5', '6']
<class 'list'>