<a href="https://colab.research.google.com/github/ericgbraz/COLAB_PED/blob/main/PED_Aula_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import sqlite3
import numpy as np
#conexao = sqlite3.connect(':memory:') 
conexao = sqlite3.connect('aluno.db') 
cursor = conexao.cursor()

sql = 'create table aluno('\
'idAluno integer primary key autoincrement,'\
'nome varchar(100) not null,'\
'sexo char)'
cursor.execute(sql)

In [19]:
sql = 'insert into aluno (nome, sexo) values(?,?)'
cursor.execute(sql, ['Alexandre', 'M']) #insere apenas um registro
conexao.commit()

In [22]:
alunos = [['Sílvia', 'F'], ['Carlos','M'], ['Maria', 'F'], ['João', np.NaN]]

#inserindo diversos registros
for aluno in alunos:
    cursor.execute(sql, aluno)

conexao.commit()

In [20]:
sql = 'select * from aluno'

cursor.execute(sql)
alunos = cursor.fetchall()

print(alunos)

for aluno in alunos:
    print(aluno)

[(1, 'Alexandre', 'M')]
(1, 'Alexandre', 'M')

In [21]:
sql = 'update aluno '\
' set nome = ?'\
' where idAluno = ?'

cursor.execute(sql, ['Alexandre Siqueira Dias', 1]) 

conexao.commit()

[]

In [24]:
cursor.execute('select * from aluno')
alunos = cursor.fetchall()

print(alunos)

[(1, 'Alexandre Siqueira Dias', 'M')]

In [25]:
sql = 'delete from aluno where idAluno = ?'
cursor.execute(sql, [1]) 
conexao.commit()

In [26]:
cursor.execute('select * from aluno')
alunos = cursor.fetchall()

print(alunos)

[]