<a href="https://colab.research.google.com/github/ericgbraz/COLAB_PED/blob/main/PED_Aula_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LISTA**

In [1]:
lista = [] 
lista2 = [1, 2, 'Introdução a Python', [1,3,4]] 
print(type(lista)) #<class 'list’>#Os elementos de uma lista são acessados através de seu índice (iniciando em 0) 
print(lista2[0]) #1 print(lista2[3]) #[1,3,4] 
print(lista2[3][1]) #??

<class 'list'>
1
3

In [2]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista3 = lista1 + lista2
print('Concatenação de duas listas:', lista3)
#Concatenação de duas listas:[1, 2, 3, 4, 5, 6]

lista4 = lista1 * 3
print('Repetição de elementos de uma lista: ', lista4)
#Repetição de elementos de uma lista: [1, 2, 3, 1, 2, 3, 1, 2, 3]

Concatenação de duas listas: [1, 2, 3, 4, 5, 6]
Repetição de elementos de uma lista:  [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
lista = [1, 2, 3, 10, 25]
print('Verificando elementos na lista: ')
print(34 in lista)
print(10 in lista)

Verificando elementos na lista:
False
True

In [4]:
lista1 = [100, 3, 'Introdução a Python', [10,20,30]]
print('Percorrendo a lista...')
for l in lista1:
    print(l)

Percorrendo a lista...
100
3
Introdução a Python
[10, 20, 30]

In [5]:
lista = [100, 3, 'Introdução a Python', [10,20,30],['Palmeiras','tem',10, 'títulos']]
print('Percorrendo a lista...')
for l in lista:
    if (isinstance(l, list)):
      for l2 in l:
        print(l2)
    else:
      print(l)

Percorrendo a lista...
100
3
Introdução a Python
10
20
30
Palmeiras
tem
10
títulos

In [6]:
lista = [1, 2, 3, 10, 25]
print('Fatiando a lista: ' + str(lista[1:4]))
print('Imprimindo a lista em ordem inversa: ' + str(lista[::-1]))

Fatiando a lista: [2, 3, 10]
Imprimindo a lista em ordem inversa: [25, 10, 3, 2, 1]

In [7]:
lista = [190, 87, 3, 82, 4]
print('Maior elemento da lista: ', max(lista))
print('Menor elemento da lista: ', min(lista))
print('Soma dos elementos da lista: ', sum(lista))
print('Quantidade de elementos da lista: ', len(lista))
print('Média dos elementos da lista: ', sum(lista)/len(lista))

import numpy as np
print('Média dos elementos da lista utilizando a biblioteca numpy: ', np.mean(lista))

Maior elemento da lista:  190
Menor elemento da lista:  3
Soma dos elementos da lista:  366
Quantidade de elementos da lista:  5
Média dos elementos da lista:  73.2
Média dos elementos da lista utilizando a biblioteca numpy:  73.2

In [8]:
lista = []
print('Adicionando itens no final da lista...')
lista.append('Introdução a Python')
lista.append('Redes de Computadores')
print(lista)
print('Adicionando item em uma posição específica...')
lista.insert(1, 'Banco de Dados')
print(lista)

Adicionando itens no final da lista...
['Introdução a Python', 'Redes de Computadores']
Adicionando item em uma posição específica...
['Introdução a Python', 'Banco de Dados', 'Redes de Computadores']

In [9]:
from random import *
print ('Gerando número real entre 0 e 1:', random())
print ('Gerando número real entre 10 e 20:', uniform(10,20))
print ('Gerando número inteiro entre 10 e 20:', randint(10,20))
print ('Gerando número par entre 10 e 20:', randrange(10,20,2))

Gerando número real entre 0 e 1: 0.0076027241039902105
Gerando número real entre 10 e 20: 14.847331619357732
Gerando número inteiro entre 10 e 20: 19
Gerando número par entre 10 e 20: 16

In [10]:
from random import sample
 
lista = sample(range(1, 101), 10)
print('Lista com números aleatórios de 1 a 100:' + str(lista))

Lista com números aleatórios de 1 a 100:[14, 93, 58, 95, 69, 74, 3, 73, 72, 10]

In [11]:
lista1 = [1, 2, 5, 7]
lista2 = [3, 6]
lista1.extend(lista2)
print('Juntando duas listas:', lista1)

Juntando duas listas: [1, 2, 5, 7, 3, 6]

In [25]:
lista = [8, 89, 65, 63, 76, 8]
print('Quantidade de ocorrências do número 8 na lista: ' ,lista.count(8))
print('Posição da primeira ocorrência do número 8 na lista: ', lista.index(8))
print('Posição a primeira ocorrência do número 8 a partir da posição 1:', lista.index(8, 1))

Quantidade de ocorrências do número 8 na lista:  2
Posição da primeira ocorrência do número 8 na lista:  0
Posição a primeira ocorrência do número 8 a partir da posição 1: 5

In [14]:
lista = [1, 2, 78, 64, 3, 1, 1]
print('Removendo o último elemento:', lista.pop())
print('Removendo o elemento de posição 2:' , lista.pop(2))
print('Removendo a primeira ocorrência do número 1...')
lista.remove(1)
print(lista)

Removendo o último elemento: 1
Removendo o elemento de posição 2: 78
Removendo a primeira ocorrência do número 1...
[2, 64, 3, 1]

In [16]:
lista = [1, 2, 7, 5, 9, 12]
lista.sort()
print('Lista ordenada:', lista)
lista.reverse()
print('Após inverter a lista:', lista)

Lista ordenada: [1, 2, 5, 7, 9, 12]
Após inverter a lista: [12, 9, 7, 5, 2, 1]

In [19]:
lista = [8, 89, 65, 63, 76, 8,8,10,8]
l_posicoes = []
pos = 0
for i in range(1, lista.count(8) + 1):
  pos = lista.index(8, pos)
  print(pos)
  l_posicoes.append(pos)
  pos = pos + 1

print(l_posicoes)

0
5
6
8
[0, 5, 6, 8]

In [20]:
lista = [2, 4, 6, 7, 9, 13, 14]

from random import shuffle

shuffle(lista)
print('Embaralhando a lista: ', lista)

Embaralhando a lista:  [2, 4, 6, 9, 7, 13, 14]

In [21]:
lista = ['Introdução a Python', 'Banco de Dados', 'Redes de Computadores']
print('Utilizando o join com listas: ', ';'.join(lista))

Utilizando o join com listas:  Introdução a Python;Banco de Dados;Redes de Computadores

In [22]:
frase = 'Exemplo do uso de split em Python'
lista = frase.split()
print(type(lista))
print(lista)

<class 'list'>
['Exemplo', 'do', 'uso', 'de', 'split', 'em', 'Python']

In [24]:
data = input("Digite uma data:")

data = data.replace('-', '/')

print(data)

Digite uma data:aaa
aaa

**TUPLA**

In [26]:
tupla = (1, 2, 78, 64, 3)
tupla2 = ()
tupla3 = (10) #não é considerada tupla (considerado valor inteiro)
tupla4 = (10,)
print(type(tupla), type(tupla2), type(tupla3), type(tupla4))

<class 'tuple'> <class 'tuple'> <class 'int'> <class 'tuple'>

In [27]:
tupla = (1, 2, 78, 64, 3)
tupla = tupla[2:] + (50,) #uma nova tupla é criada
print(tupla)
tupla = (1, 2, 78, 64, 3)
tupla = tupla[1:3] * 3 #uma nova tupla é criada
print(tupla)

(78, 64, 3, 50)
(2, 78, 2, 78, 2, 78)

In [28]:
def maiorMenor(a, b):
    if (a > b):
        return (a, b)
    else:
        return (b, a)

tupla = maiorMenor(5, 8)
print(type(tupla))
maior, menor = maiorMenor(5, 8)
print('Tupla: ', tupla)
print('Maior:',maior, 'Menor:', menor)

<class 'tuple'>
Tupla:  (8, 5)
Maior: 8 Menor: 5

**DICIONÁRIO**

In [29]:
alunos = {3035: 'Alexandre', 8965: 'Maria', 7674: 'Carlos', 6758: 'José'}
print(type(alunos))
print(alunos)
print(len(alunos))

<class 'dict'>
{3035: 'Alexandre', 8965: 'Maria', 7674: 'Carlos', 6758: 'José'}
4

In [30]:
alunos = {3035: 'Alexandre', 8965: 'Maria', 7674: 'Carlos', 6758: 'José'}
print('Chaves do dicionário: ', alunos.keys())
print('Valores do dicionário: ', alunos.values())
print('Percorrendo o dicionário...')
for chave in alunos:
    print('Chave: ', chave, 'Valor: ', alunos[chave])

Chaves do dicionário:  dict_keys([3035, 8965, 7674, 6758])
Valores do dicionário:  dict_values(['Alexandre', 'Maria', 'Carlos', 'José'])
Percorrendo o dicionário...
Chave:  3035 Valor:  Alexandre
Chave:  8965 Valor:  Maria
Chave:  7674 Valor:  Carlos
Chave:  6758 Valor:  José

In [31]:
contatos = {'Alexandre': '998549398', 'Maria': '975748315', 'Carlos': '975634251', 'José': '996453261'}
print(contatos)

print(contatos['Maria'])

for chave in contatos:
    print('Nome:', chave, 'Telefone:', contatos[chave])
    
print(contatos.get('Sílvia', 'Contato não encontrado')) #para não produzir erro

{'Alexandre': '998549398', 'Maria': '975748315', 'Carlos': '975634251', 'José': '996453261'}
975748315
Nome: Alexandre Telefone: 998549398
Nome: Maria Telefone: 975748315
Nome: Carlos Telefone: 975634251
Nome: José Telefone: 996453261
Contato não encontrado

In [32]:
alunos = {3035: 'Alexandre', 8965: 'Maria', 7674: 'Carlos', 6758: 'Lucas'}

for RA, nome in alunos.items():
    print('RA:', RA, 'nome:', nome)

search = 'alexandre'
print('Procurando Alexandre...')

for RA, nome in alunos.items():
    if (search.lower() == nome.lower()):
        print('RA:', RA, 'nome:', nome)

RA: 3035 nome: Alexandre
RA: 8965 nome: Maria
RA: 7674 nome: Carlos
RA: 6758 nome: Lucas
Procurando Alexandre...
RA: 3035 nome: Alexandre

In [41]:
contatos = {
    'Alexandre': '998549398', 
    'Maria': {'TEL': '975748315', 'END': 'Rua x, 100'}, 
    'Carlos': '975634251', 
    'José': '996453261'
}

print(contatos['José'])
#print(contatos['Maria']['TEL'])

996453264

In [ ]:
lista_contatos = [('Alexandre', '9065868'), ('Pedro', '998679999'),
                    ('Maria', '987654321'), ('Carla', '988777788')]

contatos = dict(lista_contatos)
print('Transformando uma lista em dicionário: ', contatos)