<a href="https://colab.research.google.com/github/ericgbraz/COLAB_PED/blob/main/Projeto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests
import io
import gzip

dataframes = []

urls = ["https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time_2020.csv.gz",
        "https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time_2021.csv.gz",
        "https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time_2022.csv.gz",
        "https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time.csv.gz"
       ]

for url in urls:
  response = requests.get(url)
  content  = response.content
  compressed_file = io.BytesIO(content)
  uncompressed_file = gzip.GzipFile(fileobj=compressed_file)
  df = pd.read_csv(uncompressed_file)
  dataframes.append(df)

df_total = pd.concat(dataframes)

In [5]:
#https://colab.research.google.com/drive/1H1N387IIAGV-3YRtyxzPz94vSiLrhE0M?usp=sharing
df_total[df_total.city=='São Paulo/SP']

,epi_week,date,state,city,ibgeID,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases
0,9,2020-02-25,SP,São Paulo/SP,3550308,0,0,1,1,0.000,0.008,0.000
2,9,2020-02-26,SP,São Paulo/SP,3550308,0,0,0,1,0.000,0.008,0.000
4,9,2020-02-27,SP,São Paulo/SP,3550308,0,0,0,1,0.000,0.008,0.000
6,9,2020-02-28,SP,São Paulo/SP,3550308,0,0,1,2,0.000,0.016,0.000
8,9,2020-02-29,SP,São Paulo/SP,3550308,0,0,0,2,0.000,0.016,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
408002,311,2023-03-14,SP,São Paulo/SP,3550308,0,44646,0,1153678,360.154,9306.578,0.039
413599,311,2023-03-15,SP,São Paulo/SP,3550308,0,44646,0,1153678,360.154,9306.578,0.039
419196,311,2023-03-16,SP,São Paulo/SP,3550308,0,44646,0,1153678,360.154,9306.578,0.039
424793,311,2023-03-17,SP,São Paulo/SP,3550308,0,44646,0,1153678,360.154,9306.578,0.039
430390,311,2023-03-18,SP,São Paulo/SP,3550308,25,44671,2136,1155814,360.355,9323.809,0.039